In [ ]:
options(jupyter.rich_display = FALSE)

# LAB 02 - VECTORS

## Warm Up

Given the variables

```r
account_balance <- 1000
interest_rate <-  0.10
```
 
 update the variable **account_balance** by adding the interest and print the updated value.

In [ ]:
# write your code lines below

account_balance <- 1000
interest_rate <- 0.10

account_balance <- account_balance + (account_balance * 0.10)
account_balance 

# end of your code

An employee wants to calculate the raise in dollar amount and in percent (%) she got last week. 

```r
previous_salary <- 5000
current_salary <- 5200
```

show the raise (in dollars) and (in percent).

In [ ]:
previous_salary <- 5000
current_salary <- 5200

raise_indollars <- current_salary - previous_salary
raise_inpercent <- (raise_indollars/previous_salary) * 100

raise_indollars
raise_inpercent

#  Vectors

## Initialization, Arithmetics & Functions

Let's initalize two vectors where **A** has 4, 6, 7 and **B** has 2, 14, 9.

Find the the results for: 

```r
A + B, 
A - B, 
A * B, 
A / B, 
2 * (A + B) - 3
```

In [ ]:
# write your code lines below

A <- c(4, 6, 7)
B <- c(2, 14, 9)

A + B
A - B
A * B
A / B
2 * (A + B) - 3

# end of your code

Let's initialize vector **C** with values 5, 8, 11, 5, 2, 1

Find the results for:

```r
C > A
C + A
C + (B * 3)
```

In [ ]:
# write your code lines below
C <- c(5, 8, 11, 5, 2, 1)

C > A
C + A
C + (B *3)
# end of your code

Let's:

 1. add up all elements in **A**
 2. multiply all elements in **B**

_(hint: use built-in functions, `sum()` and `prod()`)_

In [ ]:
# write your code lines below
A
sum(A)
cumsum(A)

B
prod(B)
cumprod(B)
# end of your code

## Vector Indexing

Let's initialize vector for the **students** of Beacon Hills High School (Jason, Lydia, Scott and Stiles) and print the vector.

In [ ]:
# write your code lines below

students <- c("Jason", "Lydia", "Scott", "Stiles")
students

students 
# end of your code

Then add a new transfer student **"Allison"** to the vector and print the updated vector.

In [ ]:
# write your code lines below

students <- c(students, "Allison")
students
# end of your code

Finally show the number of students.

_Hint: You can use `length()` function_

In [ ]:
# write your code lines below

length(students)

# end of your code

Now, let's list the students:

 1. 1st student
 2. 3rd student 
 3. 2nd and 4th students
 4. from 2nd to 4th student

In [ ]:
# write your code lines below

students[1]
students[3]
students[c(2,4)]
students[2:4]

# end of your code

Now, list the students by excluding: 
 
 1. 5th student
 2. 2nd and 3rd students

In [ ]:
# write your code lines below

students[-5]
students[c(-2, -3)]

# end of your code

use `TRUE` and `FALSE` statements to list the students:

 - 2nd and 4th students

In [ ]:
# write your code lines below
students[c(F,T,F,T,F)]
# OR
students[c(F,T)]
# end of your code

## Named vectors

Let's create a new 
vector for the grades of the students in Beacon Hills High for the subject Math.

|Name|Grade|
|:---|:---:|
|Jason|46|
|Lydia|98|
|Scott|51|
|Stiles|84|
|Allison|unknown (because she just transferred)|

_Hint: You can use `names()` to assign names to a vector_

In [ ]:
# write your code lines below

#grades <- c(Jason=46, Lydia = 98, Scott = 51, Stiles = 84, Allison = NA)
#grades

grades <- c(46, 98, 51, 84, NA)
people <- c("Jason", "Lydia", "Scott", "Stiles", "Allison")

names(grades) <- people

grades
people
# end of your code

Now retrieve the grades of **Stiles** and **Scott**.

In [ ]:
# write your code lines below

grades[3]
grades["Scott"]

grades[c("Scott", "Stiles")]
# end of your code

Let's assign a grade for **"Allison"** now that she took her first Math exam in Beacon Hills High which is **76**.

Show the grades vector **before** and **after** updating Allison's grade.

In [ ]:
# write your code lines below
grades
grades["Allison"] <- 76
grades
# end of your code

Now, let's find out the students that got grades **higher than 60** and their grades.

In [ ]:
# write your code lines below

grades > 60

grades[grades>60]

# end of your code

Suddenly, Math Proffessor decides to add up **5** points to students whose grades are lower than **60** for the sake of motivation for the next exam.

Show grades vector before and after updating it  accordingly.

In [ ]:
# write your code lines below
grades
grades[grades<60] <- grades[grades<60] + 5
grades

# end of your code

Now Let's try to sort the grades vector in descending order.

_Hint: We will use another built-in function, `sort()`_

In [ ]:
# write your code lines below

sort(grades)
sort(grades, decreasing=TRUE)
grades

#grades <- sort(grades, decreasing=TRUE)
grades
# end of your code

How about sorting grades vector based on students desk numbers?

First create a new vector for desk numbers.

|Name|desk number|
|:---|:---:|
|Jason|2|
|Lydia|1|
|Scott|5|
|Stiles|5|
|Allison|3|

Then use this new vector to sort **grades** vector.

_Hint: Use `order()` function._

In [ ]:
# write your code lines below

desk_numbers <- c(Jason=2, Lydia=1, Scott=5, Stiles = 5, Allison = 3)

order(desk_numbers)
desk_numbers
grades[order(desk_numbers)]

# end of your code

Finally, let's remove **Scott** from the grades vector, because he decides to be a wanderer werewolf - no longer a student.

Show grades vector before and after removing **Scott**.

In [ ]:
# write your code lines below
grades
grades <- grades[-3] #["Scott"]
grades
# end of your code

## Generating sequences

Create and store a sequence of values from 25 to 90 (increase by 1) by:

Use `seq()` function and `:` operator

In [ ]:
# write your code lines below

s1 <- seq(25, 90, 1)
s2 <- 25:90

s1
s2

# end of your code

Create and store a sequence of values from 5 to −11 that progresses in steps of 0.3.

In [ ]:
# write your code lines below

s3 <- seq(from=5, to=-11, by=-0.3)
s3

# end of your code

## Exercises from Lecture

A set of temperature measurements are given in Fahrenheit scale as follows:

```r
    temperatures <- c(87, 89, 101, 91, 86, 71, 76)
```

Convert these measurements to Celsius scale.

In [ ]:
# write your code lines below

# T(°C) = (T(°F) - 32) / 1.8
temperatures <- c(87, 89, 101, 91, 86, 71, 76)
celcius <- (temperatures - 32 ) / 1.8

celcius

# end of your code

Consider the following data

|Country|Area|Population|
|------|------|------|
|Russia|17,098,242|142,257,519|
|United States|9,833,517|326,625,791|
|China|9,596,960|1,379,302,771|                                    
|Brazil|8,515,770|207,353,391|                
|Australia|7,741,220|23,232,413|
|India|3,287,263|1,281,935,911|
|Turkey|783,562|80,845,215|
|France|643,801|67,106,161|
|Japan|377,915|126,451,398|
|United Kingdom|243,610|65,648,100|

1. Create two vectors **area** and **population** that hold the data in the respective columns. Label the elements in each vector with the country name.

2. Create a new vector called **density** that holds the population density of the countries.

3. Print the names of countries sorted by population density, in descending order (from highest to lowest).

In [ ]:
# write your code lines below

# 1
area <- c(Russia=17098242, UnitedStates=9833517, China=9596960,
          Brazil=8515770, Australia=7741220, India=3287263,
          Turkey=783562, Japan=377915, UnitedKingdom=243610)


population <- c(Russia=142257519, UnitedStates=326625791, China=1379302771,
                Brazil=207353391, Australia=23232413, India=1281935911,
                Turkey=80845215, Japan=126451398,  UnitedKingdom=65648100)

# 2

density <- population / area
density

# 3

sort(density, decreasing=TRUE)
names(sort(density, decreasing=TRUE))

# end of your code